# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.whl

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Data/outputs
*.csv
*.html
*.geojson
*.shp
*.dbf
*.prj
*.cpg
*.log
*.sqlite
*.gpkg

# OS
.DS_Store
Thumbs.db

# Environments
.env
.venv/
venv/
ENV/
